/*Google fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');
/*Generic Styles*/

h1,
h2,
h5 {
    font-family: 'Handlee', cursive;
}

/*Navbar*/

.nav-home {
    font-weight: bold;
}

.navbar-text {
    color: #3B2F2F;
}

#logo {
    width: 30px;
}

/*Hero*/

.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero.png') no-repeat center center;
    background-size: cover;
    color: #FFEBD4;
}

.hero-section h1 {
    font-family: 'Handlee', cursive;
}

.btn {
    color: #3B2F2F;
}

/*Wellness tips*/

.wellness-tips {
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.wellness-tips h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.wellness-tips p {
    font-size: 1.2em;
    margin-bottom: 15px;
}

.wellness-tips ul {
    list-style-type: disc;
    padding-left: 20px;
}

.wellness-tips li {
    font-size: 1em;
    margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .wellness-tips {
        padding: 15px;
    }

    .wellness-tips h2 {
        font-size: 1.5em;
    }

    .wellness-tips p {
        font-size: 1em;
    }

    .wellness-tips li {
        font-size: 0.9em;
    }
}

@media (max-width: 480px) {
    .wellness-tips {
        padding: 10px;
    }

    .wellness-tips h2 {
        font-size: 1.2em;
    }

    .wellness-tips p {
        font-size: 0.9em;
    }

    .wellness-tips li {
        font-size: 0.8em;
    }
}

/*Testimonials*/

.testimonials {
    padding: 20px;
    margin: 20px 0;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.testimonials .carousel-item img {
    max-width: 150px;
    margin: 0 auto;
}

.testimonials .carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.testimonials h2 {
    font-size: 2em;
    margin-bottom: 10px;
}

.testimonials p {
    font-size: 1.2em;
    margin-bottom: 15px;
}
