/*Google fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

/*Navbar*/

.nav-home {
    font-weight: bold;
}

.navbar-text {
    color: #3B2F2F;
}

#logo {
    width: 30px;
}

/*Hero*/

.hero-section {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/hero.png') no-repeat center center;
    background-size: cover;
    color: #FFEBD4;
}

.hero-section h1 {
    font-family: 'Handlee', cursive;
}

.btn {
    color: #3B2F2F;
}